  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto&family=Satisfy&display=swap');
  *{
    background-color: #3F494A;
    color: palegreen;
    font-family: 'Poppins', sans-serif;}

.menu2{
    padding: 5px;
    display: inline-flex;
    list-style: none;
    gap: 10px;
    justify-content: center;
    padding-left: 700px;
}

.menu2 li{
    padding: 5px;
    text-shadow: 3px 3px 8px palegreen;
}

.mapa{

    border: 1px solid palegreen;
    border-radius: 5px;
}
a{
    text-decoration: none;
}

.menu1{
    
        padding: 5px;
        display: inline-flex;
        list-style: none;
        gap: 10px;
        justify-content: start;
        font-size: 30px;
        margin-left: 20px;
   
}

.menu1:hover, .menu1 a:hover{
    transform: scale(1.2);
    transition: 1s;
    color: white;
}
.menu2 li:hover, .menu2 a:hover{
    transform: scale(1.1);
    color: white;
    transition: 1s;

}

span:first-of-type{
    font-size: 50px;
    font-family: 'Satisfy', cursive;
}
    

.productos img{
    display: block;

    width: 250px;
    border-radius: 5px;
    cursor: pointer;
}


.productos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-top: 10px;
    padding-left: 10px;
    
}
.productos p{
    display: block;
    margin: 10px;
    text-align: center;
    margin-left: 300px;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid palegreen;
}

.productos div{
    background-color: white;
    padding: 30px;
    margin-right: 20px;
    border-radius: 5px;
}

p .precio{
    display: block;
    width: 100px;

}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding: 70px;
    margin: 0;
    color: tan;
}

footer div p:nth-of-type(1){
    padding-bottom: 10px;
    font-weight: bold;
}

footer p{
    cursor: pointer;
}